
.loading-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 300px;
}

.loading-box img {
   display: block;
   max-height: 100px;
   margin: auto;
   animation: pulse 1s infinite;
}

.loading-box div {
  font-size: 20px;
  font-family: cursive;
}

.home {
  background-image: url("images/bar.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
}

.col-title {
  text-align: center;
  color: white;
  margin-top: 95px;
}

.small-title {
  font-size: 45px;
  font-family: serif;
  font-weight: normal;
}

input {
  display: inline;
  width: 300px;
  border: 1px solid black;
  margin-right:4px;
  margin-top: 40px;
}

.info-text {
  font-family: serif;
  color: black;
  text-align: left;
}

.mapcontainer {
  margin-top: 100px;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}
